<h1>Shorten it, <%= nickname %></h1>
    <p>Go ahead. Go for it.</p>
    <form method="post" action="/new">
        <input id="url" name="url" placeholder="URL"></input>
        <input id="chooseUrl" name="chooseurl" placeholder="Choose Extension"></input>
        <input id="password" name="password" type="password" placeholder="Password"></input>
        <button type="submit" id="submit">Shorten</button>
    </form>